<div class="wrapper">
<div class="container" id="houseIndexWrapper">
  <header>

 </header>


  <div class ="house-view">
    {{#each House}}
          <img src="{{imagePath}}" class="houseimage2">
      <div class="houseDetails">
          <h1>{{name}}</h1>
          <p>{{description}}</p>

      </div>
    {{/each}}
  </div>
</div>
<div class="members-wrapper">
<div class="members">
  {{#each People}}
   <a href="/characters/{{id}}">
    <h3>{{name}}</h3>
      <br>
   <img src="{{imagePath}}" >
   </a>
      <br>
    <p>{{description}}</p>
    <br>
  {{/each}}
</div>
</div>
</div>


